# Mindent tiltunk
*

# Mappa-bejárás engedélyezése
!*/

# Forrásfájlok és projektfájl
!*.v
!*.xdc
!*.xpr
!*.gitignore

# CSAK a forrásmappán belüli memory_files mappa tartalmát engedélyezzük
!fpga_hf_2d_fir.srcs/**/memory_files/*.txt

# Szigorú tiltás a generált szemetekre (hogy a .sim-ből ne jöjjön txt)
fpga_hf_2d_fir.sim/
fpga_hf_2d_fir.runs/
fpga_hf_2d_fir.cache/
fpga_hf_2d_fir.hw/
fpga_hf_2d_fir.ip_user_files/
.Xil/
